.wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
}

.container {
  position: relative;
  display: flex;
  width: auto;
  flex-flow: row wrap;
}

.video {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: cyan, $alpha: 15%);
  margin: 1rem;
  padding: 2rem;
  border-radius: 5px;
}

.video__name {
  color: red;
}
